.landerMainMain {
    height: 100%;
    width: 100%;
    background: url("landingBackgroundWithText.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbarMain {
    /* background-color: blue; */
    height: 10vh;
    /* border-bottom: 2px solid rgb(0, 0, 0); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 5px;
}

.navbarLogo {
    width: 10%;
}

.navbarLogoImage {
    width: 100%;
    margin-top: -25%;
}

.navbarOthers {
    /* border: 2px solid blue; */
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbarAbout {
    background: none;
    border: none;
    border-radius: 40px;
    border: none;
    padding: 10px;
    height: 65%;
    width: 30%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.4s;
}

.navbarAbout:hover {
    background-color: #52ffb1;
}

.navbarContact {
    background-color: #AEFFFE;
    border: 2px transparent;
    border-radius: 40px;
    border: none;
    padding: 10px;
    height: 65%;
    width: 30%;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s;
}

.navbarContact:hover {
    background-color: #48fffc;
}

.landerSignup {
    /* border: 2px solid yellow; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: end;
}

.landerSignUpMain {
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* background-color: #ffcad3; */
    width: 22%;
    height: 75%;
    padding: 10px;
    /* place-items: center; */
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.landerFormInputs {
    display: grid;
    gap: 20px;
    width: 100%;
    place-items: center;
}

.signUpInputs {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 80%;
    padding-left: 5px;
    font-size: 0.8rem;
    font-weight: 550;
}

.signUpInputs:focus {
    /* border-bottom: 2px solid black; */
    box-shadow: 0px 1px 0px black;
}

.landerSignUpButton {
    background-color: #D5D9FF;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-weight: 600;
    width: 54%;
    cursor: pointer;
    transition: 0.2s;
}

.landerSignUpButton:hover {
    background-color: #bdc3ff;
}

.landerGoogleSignUpButton {
    background-color: #90FFCD;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-weight: 600;
    width: 75%;
    cursor: pointer;
    transition: 0.2s;
}

.landerGoogleSignUpButton:hover {
    background-color: #52ffb1;
}

#backToLogin {
    font-size: 0.8rem;
    color: #296CC4;
    cursor: pointer;
}
#backToLogin:hover {
    color: #5984bc;
}

.landerFooter {
    height: 5vh;
    background-color: #2E2E2E;
    display: flex;
    flex-direction: row;
}

.footerRights {
    width: 100%;
    color: white;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    place-items: center;
}

#rightsReserved {
    margin-left: 12%;
}

.footerLogos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
