.signUpMain {
    /* border: 2px solid black; */
    height: 99.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpForm {
    display: grid;
    /* border: 2px solid blue; */
    padding: 10px;
    width: 20%;
}

#signUpInputs {
    padding-left: 5px;
    padding: 2px;
    margin-bottom:  10px;
}

