.signUpMain {
    /* border: 2px solid black; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../public/image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.signUpForm {
    display: grid;
    border: 2px solid white;
    border-radius: 24px;
    color: white;
    padding: 50px;
    width: 20%;
}

.signUpForm h2 {
    /* border: 2px solid red; */
    text-align: center;
}

.signUpForm label {
    font-size: 0.8rem;
}

.signUpForm input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    margin-top: 5px;
    color: white;
}

.signUpForm input:focus {
    outline: none;
}

.signUpInputs {
    padding-left: 5px;
    padding: 3px;
    margin-bottom:  10px;
}

.passwordImage {
    width: 2%;
}

.signUpPageButtons {
    /* border: 2px solid green; */
    display: grid;
    gap: 15px;
    place-items: center;
}

.signUpButton {
    margin-top: 10%;
    width: 75%;
    padding: 8px;
    border-radius: 16px;
    background-color: #D5FFDD;
    cursor: pointer;
}

.signUpWithGoogleButton {
    width: 100%;
    padding: 8px;
    border-radius: 16px;
    background-color: #73FF8D;
    cursor: pointer;
}

.backToLogin {
    margin-top: 10px;
    font-size: 0.7rem;
    text-align: center;
    place-items: center;
    color: #7ED4FF;
    transition: 0.1s;
}
.backToLogin p {
    /* border: 2px solid green; */
    width: 20%;
    cursor: pointer;
}

.backToLogin:hover {
    color: #7e8dff;
}